@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
}
html {
  font-family: "Poppins", sans-serif;
  /* background-color: #f6f6f6; */
}

body {
  font-family: "Poppins", sans-serif;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #efefef;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(-45deg, #ffff33, #ff9933);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(-45deg, #e73c7e, #ee7752);
}

.debug {
  background-color: #ff000022;
  border: 1px solid #ff000055;
}
