---
import Layout from "../../layouts/Layout.astro";
import Codeblock from "../../layouts/Codeblock.astro";

export async function getStaticPaths() {
  return [
    { params: { sub: "react" } },
    { params: { sub: "javascript" } },
    { params: { sub: "3" } },
  ];
}

const { sub } = Astro.params;
---

<Layout title={sub || "404"}>
  <Codeblock sub={sub}>
    <div class="px-4">
      <h1 class="capitalize text-xl font-bold text-slate-700">
        {sub}
      </h1>
    </div>
  </Codeblock>
</Layout>
