---
import Link from "./nav/Link.astro";
const menuItems = [
    { path: "/sub/react", title: "React JS" },
    { path: "/sub/javascript", title: "Javascript" },
];
---

<div
    class="w-full bg-orange-400 px-6 flex justify-between items-center text-white sticky top-0"
>
    <h1 class="text-2xl py-2 font-bold">
        {"<"}Web<span>dev</span><span> Guru</span>{"/>"}
    </h1>
    <nav class="relative">
        <menu
            class="debug fixed right-[-40%] sm:static flex flex-col sm:flex-row"
        >
            {
                menuItems.map((item) => (
                    <Link path={item.path} title={item.title} />
                ))
            }
        </menu>
    </nav>
</div>
